<app-header></app-header>

<ion-content>

  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <b>Demo App KeyCloak Sequence Diagram</b>
    <!-- Centered GIF -->
    <img src="assets/pic/spring-boot-keycloak-mysql.jpg" alt="Loading animation"
         style="max-width: 100%; height: auto; max-height: 60vh;" />
    <small><a href="assets/pic/spring-boot-keycloak-mysql.jpg" target="_blank">
      Open Image
    </a></small>
  </div>

</ion-content>

<app-footer></app-footer>
