<ion-header class="footer-header">
  <ion-grid>
    <!-- Title -->
    <ion-row>
      <ion-col class="ion-text-center">
        <div style="display: inline-flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0; color: rgb(75, 126, 158);font-weight: bold">PetStore Demo App</h2>
        </div>
      </ion-col>
    </ion-row>

    <!-- Menu / Logout -->
    <ion-row *ngIf="isLogin()">
      <ion-col class="ion-text-center">
        <app-menu></app-menu>
        <b (click)="logout()" class="footer-link clickable logout-green" style="font-size: 0.9rem;">Logout&nbsp;</b>
      </ion-col>
    </ion-row>

    <!-- Login / User greeting -->
    <ion-row>
      <ion-col class="ion-text-center">
        <span *ngIf="isLogin() && getUserCookies()">
          <small>
            <app-util-hello [name]="getUserCookies().username" [moduleName]="moduleName"></app-util-hello>
          </small>
        </span>
        <span *ngIf="!isLogin()">
          <b (click)="login()" class="footer-link clickable logout-green">&nbsp;Login&nbsp;</b>
          <br>
          <small><b>Note: </b></small>
          <small>(Username as "keycloak" or "reader". Password as "password")</small>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>