.header-row {
  background-color: #f1f5f9;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

ion-row {
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 6px 0;
}

ion-col {
  display: flex;
  align-items: center;
}
