<ion-footer class="ion-no-padding tight-footer">
  <div *ngIf="!getGlobalError() && !getGlobalSuccess()" class="note grey-message" style="text-align: center;">
    <blockquote style="font-size: 0.85rem;">
      ❝App includes KeyCloak, Spring Boot, MongoDB and MySQ usages❞
      <br>
      The demo components of this app is extracted from
      <a class="font-link" href="https://belisty.com/" target="_blank" rel="noopener noreferrer">
        <b>&nbsp;Belisty AI News&nbsp;</b>
      </a>
      for sharing and future reusability purposes
      <br>
      <a class="font-link" href="https://github.com/pcyuen98/springboot-cqrs-mysql-pet-demo" rel="noopener noreferrer" target="_blank">
        <b>&nbsp;Documentation&nbsp;</b> |
      </a>
      <b (click)="openSlideModal()" class="font-link">&nbsp;Feedback&nbsp;</b> |
      <a class="font-link" href="https://github.com/pcyuen98/springboot-cqrs-mysql-pet-demo" rel="noopener noreferrer" target="_blank">
        Project Repository
      </a>
    </blockquote>
  </div>

  <ion-card *ngIf="getGlobalError() && !getGlobalSuccess()">
    <app-util-error-be #errorBEComponent [errorApp]="getGlobalError()" [pageBaseComponent]="this"></app-util-error-be>
  </ion-card>

  <ion-card *ngIf="getGlobalSuccess() && !getGlobalError()">
    <app-util-success-be #successBEComponent [pageBaseComponent]="this"></app-util-success-be>

  </ion-card>
</ion-footer>